*,html{padding: 0px;
margin: 0px;
}
body{
	background-color: black;
}
#men{
background-color: yellow;
width: 100%;
height: 50px;
position: relative;
z-index: 5;
}
#men ul li{
display: inline;
padding: 20px;

}
#men ul{
	margin: 0 auto;
	width: 400px;
}
#wel{
	background-image: url(img/polygons.png);
	color: white;
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#wel p ,#wel button{
	position: relative;
 top: 200px;
}
.tom{
	width: 300px;
	height: 500px;
	display: inline-block;
}
.tom img{
	width: 100%;
	height: 200px;
}
#pay {
	width: 100%;
	background-color: gray;
height: 250px;
	position: relative;
}
.fol{
	position: relative;
	display: inline-block;
  width: 120px;

  top: 50px;
}
.fol ul li{
list-style-type: none;
width: 100%;

border-bottom: solid 1px black;
}
#con form{
	width: 100%;

}
#con form input{
	width: 100%;
	height: 20px;
}
#men  li > a {
	color: red;
}
#men  li > a:hover {
	color: yellow;
}
/*#men li > a:visited {
color: green;
}*/
#men ul li a:link {
 color: white;
}
@media (max-width: 575px){
#men{
position: relative;}

.tom{
	width: 190px;
}
.fol ul li{
	width: 100px;
	
}
#pay{
	width: 100%;
	
	position: relative;
}


}